body {
    width: 1100px;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(244, 218, 184);
    color: rgb(161, 49, 8);
}

h1,
h2,
h3,
h4,
h5,
h6{
    text-transform: uppercase;
}



footer,
header{
    padding: 17px 0;
    border: 0.6px dashed rgba(189, 137, 92, 0.783);
    vertical-align: center
}

.nav-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;
}

.hero {
    display: flex;
    justify-content: center;
}
tr,td,table{border: 10 px;
    padding: 6px 0;
    border: 1px dashed rgb(153, 105, 23);
    vertical-align: center;}

img {
    width: 367px;
}

.section,
table {
    width: 900px;
    margin: 0 auto;
    border-spacing: 7px;
    display: flex;
    align-items: center;
}

.main-header,
.copyright {
    text-align: center;
}
